<style>
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  .login-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
    max-width: 90%;
  }
  .form-group button {
  margin-top: 10px;
}
.success-message {
  margin-top: 15px;
  color: green;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 255, 0, 0.1);
}
.failure-message {
  margin-top: 15px;
  color: red;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.1);
}

</style>

<div class="login-container">
  <div class="login-box">
    <h2 id="login-heading">Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
      <div class="form-group">
        <p>New user? <a href="#" class="signup-link">Sign up</a></p>
      </div>
    </form>

    <form class="form signup-form" style="display:none">
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>
      <div class="form-group">
        <p>Already have an account? <a href="#" class="login-link">Login</a></p>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
