<h2>Login</h2>

<form class="form" id="loginForm">
  <div class="form-group">
    <label for="email-login">Email:</label>
    <input class="form-input" type="text" id="email-login" name="email" required/>
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" name="password" required/>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" id="loginBtn">Login</button>
  </div>
</form>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" id="loginModalForm">
          <div class="form-group">
            <label for="email-login-modal">Email:</label>
            <input class="form-input" type="text" id="email-login-modal" name="email" required/>
          </div>
          <div class="form-group">
            <label for="password-login-modal">Password:</label>
            <input class="form-input" type="password" id="password-login-modal" name="password" required/>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit" id="loginModalBtn">Login</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
